<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="title">
        <h1>
          <%= gettext "Welcome to %{name}!", name: "Evercam" %>
        </h1>
      </div>
      <div class="subtitle">
        <h2>
          <%= if user = @conn.assigns[:current_user] do %>
            Hi <%= user.nickname %>, you are signed in.
          <% else %>
            Please <%= link "Sign in", to: Routes.auth_path(@conn, :request, :wechat) %>.
          <% end %>
        </h2>
      </div>
    </div>
  </div>
</section>
