<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link to: Routes.page_path(@conn, :index), class: "navbar-item" do %>
        <%= img_tag "/images/everlogo-1.png" %>
      <% end %>

      <%= link "Live", to: Routes.live_snapshot_path(@conn, :index), class: "navbar-item" %>
      <%= link "Updates", to: Routes.snapshot_time_path(@conn, :index), class: "navbar-item" %>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-end">
        <%= if @conn.assigns[:current_user] do %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <%= @conn.assigns[:current_user].nickname %>
            </a>
            <div class="navbar-dropdown">
              <%= link "Edit account", to: Routes.user_path(@conn, :edit), class: "navbar-item" %>
              <%= link "Edit updates preference", to: Routes.subscription_path(@conn, :edit), class: "navbar-item" %>

              <hr class="navbar-divider">
              <%= link "Sign out", to: Routes.session_path(@conn, :delete), method: :delete, class: "navbar-item" %>
            </div>
          </div>
        <% else %>
          <div class="navbar-item">
            <div class="buttons">
              <%= link "Sign in", to: Routes.auth_path(@conn, :request, :wechat), class: "button is-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
