/* This file is for your main application css. */

@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import "~bulma/css/bulma.css";

.subtitle a {
  text-decoration: underline;
}

.card {
  margin-bottom: 10px;
}

.image h2 {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
}

.image h2 span {
  color: white;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
}
