<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">Updates</h1>
    </div>
  </div>
</section>

<main class="secion">
  <div class="container">
    <div class="content">
      <ul>
        <%= for %{id: id, time: time} <- @snapshot_times do %>
          <li>
            <%= link format_time(time), to: Routes.snapshot_time_path(@conn, :show, id) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</main>
