<main class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <%= link "Updates", to: Routes.snapshot_time_path(@conn, :index) %>
        </li>
        <li class="is-active">
          <%= link format_time(@snapshot_time.time), to: "#"  %>
        </li>
      </ul>
    </nav>

    <%= for snapshot <- @snapshot_time.snapshots do %>
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <%= img_tag EvercamWechat.SnapshotFile.url({snapshot.file, snapshot}), class: "snapshot" %>
          </figure>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item has-text-centered">
            <%= snapshot.camera_id %>
          </p>
        </footer>
      </div>
    <% end %>
  </div>
</main>

<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<%= raw EvercamWechat.Wechat.wechat_config_js(@conn, api: ~w(previewImage)) %>
