<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">Binding account</h1>
    </div>
  </div>
</section>

<main class="section">
  <div class="container">
    <%= notification(@conn) %>

    <%= form_for @changeset, Routes.user_path(@conn, :create), fn f -> %>
      <div class="field">
        <%= label f, :evercam_id, "Evercam ID" %>
        <div class="control">
          <%= text_input f, :evercam_id, placeholder: "Evercam username or email", class: "input" %>
          <%= error_tag f, :evercam_id %>
        </div>
      </div>

      <div class="field">
        <%= label f, :evercam_id, "Evercam Password" %>
        <div class="control">
          <%= password_input f, :evercam_pwd, placeholder: "Evercam password", class: "input" %>
          <%= error_tag f, :evercam_pwd %>
        </div>
      </div>

      <div class="control">
        <%= submit "Bind Evercam account", class: "button is-primary" %>
      </div>
    <% end %>
  </div>
</main>
