<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">Editing updates preference</h1>
    </div>
  </div>
</section>

<main class="section">
  <div class="container">
    <%= notification(@conn) %>

    <%= form_for @changeset, Routes.subscription_path(@conn, :update), fn f -> %>
      <div class="field">
        <%= label f, :notify_days, "Notify Days" %>
        <div class="control">
          <div class="select is-multiple">
            <%= multiple_select f, :notify_days, week_day_mapping() %>
          </div>
          <%= error_tag f, :notify_days %>
        </div>
      </div>

      <div class="field">
        <%= label f, :notify_time, "Notify Time" %>
        <div class="control">
          <%= time_select f, :notify_time_select %>
          <%= error_tag f, :notify_time_select %>
        </div>
      </div>

      <div class="field">
        <%= label f, :timezone, "Time Zone" %>
        <div class="control">
          <div class="select">
            <%= select f, :timezone, time_zone_mapping() %>
          </div>
          <%= error_tag f, :timezone %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= label f, :enabled, class: "checkbox" do %>
            <%= checkbox f, :enabled %>
            Enabled
          <% end %>
          <%= error_tag f, :enabled %>
        </div>
      </div>

      <div class="control">
        <%= submit "Submit", class: "button is-primary" %>
      </div>
    <% end %>
  </div>
</main>
